@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model Proyecto1.Models.ViewModels.FormularioVM
}

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(m => m.persona.id)

    <label>Nombre:</label>
    @Html.TextBoxFor(m => m.persona.nombre)

    <label>Apellidos:</label>
    @Html.TextBoxFor(m => m.persona.apellidos)

    <label>Edad:</label>
    @Html.TextBoxFor(m => m.persona.edad)

    <label> Departamento: </label>
    <select>

        @foreach (var dept in Model.listaDepartamentos.lista)
        {
            var isSelected = Model?.persona.departamento != null && Model.persona.departamento.id == dept.id;
            <option value="@dept.id" selected="@(isSelected ? "selected" : null)"> 
                @dept.nombre 
            </option>

        }


    </select>
    

    <input type="submit" value="Guardar" />
}